{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>{{ action }} Máquinas</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{{ action }}</button>
</form>
</body>

</html>
